<!-- <nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav> -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header"><img id="logo" style="max-width:50px;" src="../../assets/images/hungree-logo.png"></div>
        <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a ui-sref-active="active" ui-sref="home"> Home </a></li>
            <li><a ui-sref-active="active" ui-sref="listDishes"> Find Dishes </a></li>
            <li><a ui-sref-active="active" ui-sref="listChefs"> Find Chefs </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a ui-sref-active="active" ui-sref="cart"> <i class="fa fa-shopping-cart"></i> Cart </a>
            </li>
            <li><a ui-sref-active="active" ui-sref="logIn"> login</a></li>
            <li><a ui-sref-active="active" ui-sref="signUp"> signup</a></li>
            <li><a ui-sref-active="active" ui-sref="logOut"> Logout</a></li>
        </ul>
        <div>
    </div>
</nav>

