<div class="container">
    <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1 class="panel-title">Signup in 2 steps!</h1>
            </div>
            <div class="panel-body contaner">
                    <!-- Basic Information -->
                <div class="row" > 
                    <div class='col-lg-6 signup-container'>
                        <form class="form">
                          <h3 style="color:#DDDDDD"> <span class="form-step">1</span> Basic Information </h3>
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Firstname">
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Lastname">
                          </div>
                          <div class="form-group">
                            <label>Upload Profile Picture</label>
                            <input type="file" >
                          </div>
                        </form>
                    </div>

                    <div class='col-lg-6'>
                        <form class="form">
                          <h3 style="color:#DDDDDD"> <span class="form-step">2</span> Join Now! </h3>
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Firstname">
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Lastname">
                          </div>
                        </form>
                    </div>

                    <!-- Local, Fb, Google -->
                    <div class="row">

                    <div>
                    <!-- -->

                </div>
            </div>
          </div>


        </div>
    </div>
</div>

<!--
<div class="signin-container">
    <div class="buffer local">
        <span class="form-step">2</span>
        <form ng-submit="sendLogin(credentials)">
            <div class="form-group">
                <label>email</label>
                <input type="text" class="form-control" ng-model="credentials.email"/>
            </div>
            <div class="form-group">
                <label>password</label>
                <input type="password" class="form-control" ng-model="credentials.password" />
            </div>
            <button type="submit" class="btn btn-block btn-primary">login</button>
        </form>
    </div>
</div>
-->