<!-- <h1>Settings</h1> -->
<div class="col-md-12">
    <div class="alert alert-info">
        <h2 style="color: white"> User Bio: </h2>
        <h4>{{user.description}}</h4>
    </div>
</div>

<div class="col-md-6">
    <div class="alert alert-success" ng-show="success">
        Your account has been updated successfully!
    </div>
<h3> Basic Information</h3>
<!-- <pre>{{user.name}} {{user.email}}</pre> -->
      <!-- <p ng-show="isAdmin || user._id == currentUser._id" class="list-group-item"> -->

    <label>First Name</label>
    <input type="text" ng-model="user.name.first" class="form-control">
    <label>Last Name</label>
    <input type="text" ng-model="user.name.last" class="form-control">
    <label>Registered Email</label>
    <input type="text" ng-model="user.email" class="form-control">
    <br>
    <a href="#" class="btn btn-success" ng-click="updateInfo()">Update Details</a>
</div>

<div class="col-md-6">
    <div class="alert alert-success" ng-show="green">
        Password updated.
    </div>
    <div class="alert alert-danger" ng-show="red">
        The password you have entered is incorrect.
    </div>
<h3>Change your password:</h3>
 <label>Old Password</label>
    <input type="password" ng-model="updatedPW.old" class="form-control" placeholder="">
    <label>New Password</label>
    <input type="password" ng-model="updatedPW.new" class="form-control" placeholder="">
    <label>Confirm New Password</label>
    <input type="password" ng-model="confirm" class="form-control" placeholder="">
    <div class="alert alert-danger" ng-show="updatedPW.new !== confirm">
        Your passwords need to match
    </div>
    <br>
    <button ng-disabled="updatedPW.new !== confirm" class="btn btn-warning" ng-click="updatePW()">Update Password</button>
<!--     <pre>{{user}}</pre>
    <img ng-src="{{user.picture}}"> Email: {{user.email}} Address: {{user.address.shipping}} } } -->
</div>
<!-- <div class="col-md-6">
<h3>Your Location:</h3>
<pre>{{user.address.shipping}}</pre>
 <label>Old Password</label>
    <input type="text" class="form-control" placeholder="">
    <label>New Password</label>
    <input type="text" class="form-control" placeholder="">
    <label>Confirm New Password</label>
    <input type="text" class="form-control" placeholder="">
    <br>
    <a href="#" class="btn btn-warning">Update Details</a>
    <pre>{{user}}</pre>
</div> -->

