<div class="col-md-12">
    <div class="alert alert-info" ng-show={{!favorites.length}}>
        <h4 class="text-center"><i class="fa fa-warning"> </i> There seems to be nothing here. Checkout our <a ui-sref="listDishes"> yummy dishes! </a> </h4>
    </div>
    <div class="panel panel-default" ng-repeat="dish in favorites">
        <div class="panel-heading"><a ui-sref="oneDish({id: dish._id})"> {{dish.name}} </a> by Chef {{dish.name.last}} </div>
        <div class="panel-body">
            <div class="col-md-2 text-center">
                <img class="text-center" ng-src="{{dish.picture}}" id="profile-pic">
                <star num="dish.rating">
                    </star>
            </div>
            <div class="col-md-10">
                <div class="row">Description: {{dish.description}}</div>
                <div class="row"> Ingredients: <span ng-repeat="ingredient in dish.ingredients">{{ingredient}}</span></div>
                <div class="row"> Price: {{dish.price | currency}} </div>
            </div>
        </div>
    </div>
</div>
