<div class="panel panel-default container">
    <div class="panel-heading row">
        <div class="col-md-2">{{review.dish.name}}</div>
        <div class="col-md-10">
            <div>
                <span ng-repeat="star in review.rating track by $index" class="glyphicon glyphicon-star" aria-hidden="true"></span><span ng-repeat="star in 5-review.rating track by $index" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
        </div>
    </div>
    <div class="panel-body row">
        <div class="col-md-2">
            <img class="text-center" ng-src="{{review.dish.picture}}" id="profile-pic">
        </div>
        <div class="col-md-10">{{review.description}}</div>
    </div>
</div>
<pre>REview:{{review}}</pre>
