.dish-img {
	height: 214px;
	background-size: cover; 
	background-repeat: no-repeat; 
	background-position: center center;
}

.clickable {
	cursor: pointer;
}

.underline:hover {
	text-decoration: underline;
}

.fit {
	width: 100%;
}

.dish-label {
	opacity: 0.9;
}

.dish-text {
	font-size: 15px;
}