.dish-img {
	height: 214px;
	background-size: cover; 
	background-repeat: no-repeat; 
	background-position: center center;
}

.clickable {
	cursor: pointer;
	:hover {
		opacity: 0.8;
	}
}

.underline:hover {
	text-decoration: underline;
}

.fit {
	width: 100%;
}

.dish-label {
	opacity: 0.9;
}