<tag-search></tag-search>
<div class="col-lg-3 pull-right">
	Filter by:
	<select
		class="form-control"
		style="display: inline-block"
		ng-model="selectedFilter">
		<option 
			ng-repeat="category in categories">{{category.name}}</option>
	</select>
</div>
<div class="container" style="clear:both">
	<div style="text-align:center" ng-show="loading">
		<img src="../assets/images/loader.gif"/>
	</div>
	<div 
		class="dish-img clickable col-lg-3" 
		ng-repeat="dish in nearbyDishes | tags | orderBy: selectedFilter"
		ng-click="goToDish(dish)"
		ng-style="{'background-image': 'url({{dish.picture}})'}">
		<div class="dish-label">
			<h2>{{dish.name}}</h2>
			<p>{{dish.description}}</p>
		</div>
	</div>
</div>

