<div class="container" ng-controller="CartCtrl">
  <div class="row">
    <div class="col-sm-9">
      <form>
        <table class="table table-hover dailyspending">
          <thead>
            <th></th>
            <th style="width:100%">Purchase</th>
            <th>$</th>
            <th>quantity</th>
          </thead>
          <tbody>
            <tr ng-repeat="cartItem in cart">
              <td><input type="checkbox" 
                         ng-change="showDeleteItems()" 
                         ng-model="cartItem.isSelected"></td>
              <td>
                <div>
                  <strong>{{ cartItem.dish.name }}</strong><br>
                  <em>{{ cartItem.dish.description }}</em>
                </div>
              </td>
              <td><span>{{ cartItem.dish.price | currency}}</span></td>
              <td>
                <input type="number"
                       size="2"
                       style="border:none; width: 2em"
                       min= "0"
                       max= "{{ cartItem.dish.inventory }}}"
                       value="{{ cartItem.quantity }}"
                       ng-model="cartItem.newQuantity"
                       ng-change="showUpdateItems()"
                       >
              </td>
            </tr>
            <tr class="totalrow">
              <td></td>
              <td><span style="font-weight:bold">TOTAL</span></td>
              <td>{{ totalPrice | currency }}</th>
            </tr>
          </tbody>
        </table>
        <button type="button" 
                class="btn btn-default" 
                style="float:right" 
                ng-click="deleteItems()" 
                ng-show="showDeleteItemsButton">Delete Item(s)</button>
        <button type="button" 
                class="btn btn-default" 
                style="float:right" 
                ng-click="updateItems()" 
                ng-show="showUpdateItemsButton">Update Item(s)</button>

        <em ng-show="didNotConfirmUpdate">Please confirm your updated cart before checking out</em>

        
      </form>
    </div>

    <div class="col-sm-3">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Cart</h3>
        </div>
        <div class="panel-body">
            <p>Total <span>({{ cart.length }})</span> orders: <span>{{totalPrice | currency}}</span> </p>
            <button type="button" class="btn btn-default" ng-click="open(totalPrice)"> Checkout</button>
        </div>
      </div>

    <div>
  </div>

</div>


