<div class="container" ng-controller="CartCtrl">
  <div class="row">
    <div class="col-sm-9">
      <form>
        <table class="table table-hover dailyspending">
          <thead>
            <th></th>
            <th style="width:100%">Purchase</th>
            <th>$</th>
            <th>quantity</th>
          </thead>
          <tbody>
            <tr ng-repeat="cartItem in cart">
              <td><input type="checkbox" ng-change="updateSelectedCartItem()" ng-model="cartItem.isSelected"></td>
              <td>
                <div>
                  <strong>{{ cartItem.dishName }}</strong><br>
                  <em>{{ cartItem.dishDescription }}</em>
                </div>
              </td>
              <td><span>$</span><span>{{ cartItem.dishPrice }}</span></td>
              <td>
                <input type="text"
                       size="2"
                       style="border:none"
                       value="{{ cartItem.quantity }}"
                       ng-model="cartItem.quantity"
                       >
              </td>
            </tr>
            <tr class="totalrow">
              <td></td>
              <td><span style="font-weight:bold">TOTAL</span></td>
              <td><span>$</span>{{ totalPrice }}</th>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-default" style="float:right" ng-click="deleteItems()" ng-show="showDeleteItemsButton">Delete Item(s)</button>

      </form>
    </div>

    <div class="col-sm-3">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Cart</h3>
        </div>
        <div class="panel-body">
            <p>Total <span>({{ cart.length }})</span> orders: $<span>{{totalPrice}}</span> </p>
            <button type="button" class="btn btn-default" ng-click="open()"> Checkout</button>
        </div>
      </div>

    <div>
  </div>

</div>


