<div class="container" ng-controller="CartCtrl">
  <div class="row">
    <div class="col-sm-9">
      <form>
        <table class="table table-hover dailyspending">
          <thead>
            <th></th>
            <th style="width:100%">Purchase</th>
            <th>$</th>
            <th>quantity</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox" 
                     ng-model="transaction.isSelected"></td>
              <td>Order 1</td>
              <td><span>$</span><span>10</span></td>
              <td>
                <select>
                  <option>1</option>
                  <option>2</option>
                </select>
              </td>
            </tr>
            <tr>
              <td><input type="checkbox" 
                     ng-model="transaction.isSelected"></td>
              <td>Order 1</td>
              <td><span>$</span><span>10</span></td>
              <td>
                <select>
                  <option>1</option>
                  <option>2</option>
                </select>
              </td>

            </tr>
            <tr>
              <td><input type="checkbox" 
                     ng-model="transaction.isSelected"></td>
              <td>Order 1</td>
              <td><span>$</span><span>10</span></td>
              <td>
                <select>
                  <option>1</option>
                  <option>2</option>
                </select>              
              </td>

            </tr>
            <tr class="totalrow">
              <td></td>
              <td><span style="font-weight:bold">TOTAL</span></td>
              <td><span>$</span>20</th>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-default" style="float:right">Delete Order</button>

      </form>     
    </div>

    <div class="col-sm-3">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Cart</h3>
        </div>
        <div class="panel-body">
            <p>Total <span>(4)</span> orders: $<span>{{total}}</span> </p>          
            <button type="button" class="btn btn-default">Checkout</button>


        </div>
      </div>
      
    <div>
  </div>

</div>