@import url(http://fonts.googleapis.com/css?family=Roboto);
@import 'bootstrap.custom.scss';
@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);
#logo-title {
    font-family: Playball;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    // background-color: rgba(28, 28, 28, 0.11);
    background-color: white;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    /* the bottom margin is the negative value of the footer's height */
}

.footer,
.push {
    height: 50px;
    /* .push must be the same height as .footer */
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.container {
    height: 100%;
    min-height: 100%;
    position: relative;
}


.footer {
    background-color: #DDDDDD;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

body {
    padding-top: 70px;
    // background: url("../assets/images/congruent_pentagon.png") repeat;
    // background-image: url("../assets/images/congruent_pentagon.png") repeat;
    // background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../assets/images/congruent_pentagon.png") repeat;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'dishes/main';
@import 'cart/main';
@import 'signup/main';
@import 'list-chef/main';
@import 'account/main';
.navbar-inverse {
    // background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/images/congruent_pentagon.png") repeat;
    // background: url("../assets/images/congruent_pentagon.png") repeat;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

#search-box {
    padding-bottom: 5%;
}

// DEfault : #DC8802
// Color : #686868
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FEFFFF;
    background-color: #FF9D00;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FEFFFF;
    background-color: #FF9D00;
}

#profile-sidebar {
    background-color: #E6E6E6;

}


a {
    font-color: #2C3E50!important;
}



