@import url(http://fonts.googleapis.com/css?family=Roboto);
@import 'bootstrap.custom.scss';

* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

footer {
  color: primary;
}

body{
  padding-top: 70px;
}


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'dishes/main';
@import 'cart/main';
@import 'signup/main';
@import 'list-chef/main';
@import 'account/main';
