@import url(http://fonts.googleapis.com/css?family=Roboto);
@import 'bootstrap.custom.scss';



* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

footer {
  color: primary;
}

body{
  padding-top: 70px;
    // background: url("../assets/images/congruent_pentagon.png") repeat;

  // background-image: url("../assets/images/congruent_pentagon.png") repeat;
      // background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../assets/images/congruent_pentagon.png") repeat;

}


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'dishes/main';
@import 'cart/main';
@import 'signup/main';
@import 'list-chef/main';
@import 'account/main';

.navbar-inverse {
    // background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/images/congruent_pentagon.png") repeat;
    // background: url("../assets/images/congruent_pentagon.png") repeat;
}

